<!doctype html>
<html>
<head>
<title> Meadowlark Travel</title>
</head>
<body>
  <header><center><img src="/img/blurb-4x4g.png" alt="Meadowlark Travel Logo"></center></header>
  {{{body}}}
  <footer><center> Created by: Alek Schaffer</center></footer>
</body>
</html>
